body{
  background-color: #ddd;
}
form{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: 100px;
}

input[type="text"]{
  width: 70%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

task-list ul{
  list-style: none;
  padding: 0px;
}